.centre-piece-txt{
    color: #ffffff;
    margin-top: 0%;

    text-align: centre;
    font-size: 75px;
    letter-spacing: -.05em;
    line-height: 1.2em;
    font-family: 'Homemade Apple', cursive;
}