@media screen and (min-width: 1025px) {
  .infoViewHeight {
    min-height: 50vh;
  }
}

@media screen and (max-width: 1024px) and (min-width: 768px)  {
  .infoViewHeight {
    min-height: 75vh;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px)  {
  .favViewHeight {
    height: 120vh;
    min-height: 120vh;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px)  {
  .midViewHeight {
    height: 60vh;
    min-height: 60vh;
  }
}

@media screen and (max-width: 767px) {
  .favViewHeight{
    height: 200vh;
    min-height: 200vh;
  }
}

@media screen and (max-width: 767px) {
  .midViewHeight{
    height: 150vh;
    min-height: 150vh;
  }
}

@media screen and (max-width: 379px) {
  .maxFontXXS1{
    font-size: 1.5rem!important;
  }
}

@media screen and (max-width: 420px) {
  .maxFontXXS2{
    height: 150px!important;
    width: 360px!important;
    font-size: 2.5rem!important;
  }
}

@media screen and (max-width: 420px) and (min-width: 380px)  {
  .maxFontXS{
    font-size: 2rem!important;
  }
}

@media screen and (max-width: 767px) and (min-width: 420px) {
  .maxFontSM1{
    font-size: 4rem!important;
  }
}

@media screen and (max-width: 767px) and (min-width: 420px) {
  .maxFontSM2{
    font-size: 2rem!important;
  }
}

@media screen and (max-width: 1040px) and (min-width: 767px) {
  .maxFontMD {
    font-size: 2.5rem!important;
  }
}

.btn-secondary.dropdown-toggle,
.btn-secondary.dropdown-toggle:focus,
.btn-secondary.dropdown-toggle:hover {
  background-color: rgba(0,0,0,0) !important;
  padding: 5px 5px 5px 5px;
}

.relative {
  position: relative!important
}

.centerElementXInRelative {
  left: 50%!important;
  transform: translateX(-50%)!important
}

.centerElementYInRelative {
  position: absolute!important;
  top: 50%!important;
  transform: translateY(-50%)!important
}

.resizableElement {
  padding: 0 0 0 8px;
  overflow: hidden;
  width: 100%!important;
}

.resizableElement input {
  width: 100%!important;
}

.navItemBorder {
  margin: 0px 5px 0px 5px;
  padding: 0 15px 0 10px;
}

.flyout {
	display:flex;
	flex-direction: column;
	min-height:100vh;
	justify-content: space-between;
}

.home-feature-box .fa {
	font-size:6rem;
}

.home-feature-box span {
	display: block;
	color:#111;
	font-weight:bold;
	margin-top:1.5rem;
}

.example-components-list li > a {
	display:block;
	border-bottom:1px solid rgba(0,0,0,.15);
	padding-top: 8px;
	padding-bottom: 8px;
}

.example-components-list li:last-child > a {
	border-bottom:0;
}

.example-components-list li > a .fa {
	color:rgba(0,0,0,.35);
	float:right;
}

.card img {
  min-width: 100%;
  height: 300px;
}

.card img.rounded-circle {
  height: 100px;
  width: 100px;
  text-align: center;
}

.centre-piece-txt{
  color: #ffffff;
  margin-top: 0%;

  text-align: centre;
  font-size: 75px;
  letter-spacing: -.05em;
  line-height: 1.2em;
}

.carousel-caption {
  top: 0;
  bottom: auto;
}

.navbarColor {
  background-color: #02c8a7;
  Color: whitesmoke
}

.buttonsColor {
  background-color: #eab126;
  Color: whitesmoke
}

.layerColor {
  background-color: #36b351;
  Color: whitesmoke
}

.layerText {
  Color: #36b351
}

.highlightIcon {
  Color: #f54e31 !important
}

#homeIntro{
  height: 100%;
  min-height: 100vh;
}

p.card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 0.8rem;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

h4.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 1.2rem;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}